.container-text2 {
  display: flex;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px; 
  border-radius: 50%; 
  background-color: #82858a; 
  margin-right: 0.5rem; 
}

button {
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.02);
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-scroll-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.active {
  opacity: 1;
  transform: translate(0, 0);
}
