.container-text2 {
  display: flex;
  align-items: center; /* Memusatkan elemen secara vertikal */
}

.circle {
  width: 12px; /* Ukuran lingkaran */
  height: 12px; /* Ukuran lingkaran */
  border-radius: 50%; /* Membuat lingkaran */
  background-color: #82858a; /* Warna lingkaran (biru) */
  margin-right: 0.5rem; 
}
