select {
    border: 1px solid #3B82F6; 
    border-radius: 0.375rem; 
    font-size: 1rem; 
    max-height: 150px; 
    z-index: 10; 
    display: block;
    width: 100%; 
    transform-origin: top center;
}

input:focus,
select:focus {
    outline: none;
    border-color: #2563EB;
    color: #3B82F6; 
}

.select-component{
    background-color: white !important;
}








