.text-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    animation: typing 2s steps(14, end), blink-caret 0.5s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }